<h1>About</h1>
<%= link_to 'Home', root_path %>
<center div>
<h4>Project Created by</h4>
<div>Jakub Rodasik & Mateusz Janota</div>
<h4>Website created by Ruby on Rails</h4>
<div>Tworzenie Servisów intra i internetowych 2018, ISI2</div>
</div>
